
.overlay-menu
	display:none
	
.carousel-info
	display:none

.topmenu
	display:none
	
	@media $mobile-max
			display:block
			border-bottom:10px solid #f2f3f2
			background:#fff
			position:relative
			bottom:70px	
			a
				position:relative
				text-align:center
				left:33%
				top:80px
				z-index:1

	@media $tablet-minmax
		display:block
		border-bottom:10px solid #f2f3f2
		background:#fff
		position:relative
		bottom:70px
		a
			position:relative
			text-align:center
			left:41%
			top:80px
			z-index:1
			
	
.main-menu
	position:relative
	display:flex
	left:0%
	width:100%
	top:15px
	font-weight:400
	font-size:20px
	z-index:1
	
	@media $mobile-max
		display:none

	@media $tablet-minmax
		display:none
		
.item

	ul
		justify-context:space-around
		display:flex
		padding:0
		list-style-type:none
	
		li
			position:relative
			padding:5px 30px
			margin:0 20px 0 0
			border: 1px solid transparent
			transition:.2s	
			
			&:hover
				border: 1px solid yellow
				border-radius: 5px
				cursor:pointer
				font-weight:700
				-webkit-box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.75)
				-moz-box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.75)
				box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.75)
				transition:.2s
			&:hover:after

			a
				position:relative
				color: blue
				font-size:18px
				
.menu-left, .menu-right
		width:40%
			
.menu-left
	position:relative
	display:inline-block	
	left:1%
	
.menu-right
	position:relative
	float:right
	left:21%
	
.logocenter
	width:160px
	height:159px
	position:relative
	left:5%	
	bottom:30px
	z-index:1
