@media $mobile-max
	.img-aside
		display:none
			
	#services
		top:50px
		
	#clean-house
		top:50px

	#contact
		background-position:0%
		min-height:1200px
		
	.form-residencial
		display:none	
			
	.contact-mobile
		display:block

		input 
			padding:8px 10px

	.contact-desk
		display:none
				
	.form-item
		label
			float:left	


	.info-contact
		a
			font-size:23px
			
	.btn-menu
		position:relative
		float:right
		right:25px
		bottom:130px
		z-index:3


	.bar1, .bar2
		width: 35px
		height: 5px
		background-color: #5192b5
		margin: 6px 0
		transition: 0.4s

	.bar3
		width:10px
		height:5px
		background-color:#5192b5
		margin:6px 0
		transition:0.4
		
	.bar3-right
		position:relative
		width:21px
		height:5px
		background-color:#5192b5
		left:14px
	

	.change .bar1 
		-webkit-transform: rotate(-45deg) translate(-9px, 6px)
		transform: rotate(-45deg) translate(-9px, 6px)
		background:#fff

	.change .bar2 
		-webkit-transform: rotate(43deg)
		transform: rotate(43deg)
		background:#fff
				
	.change .bar3
		opacity:0

	.change .bar3-right
		opacity:0
		
	.outline-menu
		display:none
		
	.overlay-menu
		display:block
		position:absolute
		height:1500px
		width:100%
		background: #fad889
		z-index: 2
		top:0px
		opacity:0.9
		
		ul
			position:relative
			background:#89c6ed
			width:63%
			height:100%
			bottom:10px
		
		li
			font-weight:700
			font-size:16px
			color:#fff
			margin-top:10px
			margin-bottom:20px
			border-bottom:2px solid yellow
			width:64%
			position:relative
			left:6%
			top:65px
		
		a
			position:relative
			bottom:10px			

		.close-button
			p
				position:relative
				z-index:3
				font-size:44px
				color:#fff
				font-weight:400
				float:right
				bottom:119px
				right:1px
				width:116px
				text-align:center

	.sub-title
		h2
			font-size:32px
			font-weight:400	
			
		p
			font-size:29px
			font-weight:700	

		
	.carousel-info
		font-weight:400	
		position:relative
		display:block
		margin-bottom:25px
		top:20px
		font-size:14px
		
		strong
			font-weight:700	
			font-size:16px

	.first-title-clean
		left:0% !important

	.box-contact
		position:relative
		display:inline-block
		text-align:center
		top:0px
		

	.icon-contact
		position:relative
		top:45px
		right:34%

@media $tablet-minmax
 	
	.img-aside
		display:none

	#services
		top:50px
		
	.form-residencial
		display:none
		
	#clean-house
		top:50px

	#contact
		background-position:0%
		min-height:1200px

	.contact-mobile
		display:block

		input 
			padding:8px 10px

	.contact-desk
		display:none
				
	.form-item
		width:100%
		
		label
			float:left	


	.info-contact
		a
			font-size:23px
			
	.btn-menu
		position:relative
		float:right
		right:25px
		bottom:130px
		z-index:3


	.bar1, .bar2
		width: 35px
		height: 5px
		background-color: #5192b5
		margin: 6px 0
		transition: 0.4s

	.bar3
		width:10px
		height:5px
		background-color:#5192b5
		margin:6px 0
		transition:0.4
		
	.bar3-right
		position:relative
		width:21px
		height:5px
		background-color:#5192b5
		left:14px
	

	.change .bar1 
		-webkit-transform: rotate(-45deg) translate(-9px, 6px)
		transform: rotate(-45deg) translate(-9px, 6px)
		background:#fff

	.change .bar2 
		-webkit-transform: rotate(43deg)
		transform: rotate(43deg)
		background:#fff
				
	.change .bar3
		opacity:0

	.change .bar3-right
		opacity:0
		
	.outline-menu
		display:none
		
	.overlay-menu
		display:block
		position:absolute
		height:1500px
		width:100%
		background: #fad889
		z-index: 2
		top:0px
		opacity:0.9
		
		ul
			position:relative
			background:#89c6ed
			width:63%
			height:100%
			bottom:10px
		
		li
			font-weight:700
			font-size:16px
			color:#fff
			margin-top:10px
			margin-bottom:20px
			border-bottom:2px solid yellow
			width:64%
			position:relative
			left:6%
			top:65px
		
		a
			position:relative
			bottom:10px			

		.close-button
			p
				position:relative
				z-index:3
				font-size:44px
				color:#fff
				font-weight:400
				float:right
				bottom:119px
				right:1px
				width:116px
				text-align:center

	.sub-title
		h2
			font-size:32px
			font-weight:400	
			
		p
			font-size:29px
			font-weight:700	
		
	.carousel-info
		font-weight:400	
		position:relative
		display:block
		margin-bottom:25px
		top:20px
		font-size:14px
		
		strong
			font-weight:700	
			font-size:16px


	.first-title-clean
		left:0% !important
	
	.box-contact
		position:relative
		display:inline-block
		text-align:center
		top:0px
		
		
	.footer-right
		left:35%
		top:20px
		width:100%