.topinfo
	position:relative
	width:100%
	top:5px
		
	@media $mobile-max
		display:none
		
	@media $tablet-minmax
		display:none

.icon-top
	position:relative
	top:13px
	left:7px
.zap 
	position:relative
	top:8px
	right:8px

.topleft, .topright 
	p 
		font-size:topitem
	i
		font-size:topitem
.topleft
	position: relative
	display: flex 
	p
		position:relative
		margin-left:15px
		top: 15px
		font-weight:400
		color:#58595b
	i
		color:yellow	
		margin-right:5px	

.cover-phone
	position:relative
	background:#eaedf0
	float:right
	width:195px
	height:60px
	bottom:19px
	right:2%
	border-radius: 0px 0px 20px 20px;

.topright
	position:relative
	left:5%
	top:14px
	font-size:15px
	width:176px
	border-radius:10px
	padding:0px 34px
	background:#fff
	p
		position:relative
		font-weight:700
		color: blue
		bottom:11px
		left:15px
	i
		position:relative
		right:4%
		color:#01c854
		