
body 
	min-height 100vh
	

.cta-overlay 
	display none
	position absolute
	top 0 
	left 0
	height 100%
	width 100%
	background-color rgba(blue, .96)
	z-index 10
	
.bottom-text
	display:block
	font-weight:400
	color:gray
	font-size:14px
	width:100%
	text-align:center
	position:relative
	top:95%
	
	p
		display:inline-block
	
.form-wrapper-all
	min-height: 460px
	padding-bottom 60px
	background-color: #FFF
	border-radius 4px
	font-size 0
	position absolute
	left 0 
	right 0 
	margin auto 
	top 50% 
	transform translateY(-50%)
	box-shadow  0 0 20px 0 rgba(#000, .1)
	display none

	@media $tablet-max
		width 100%
		
	@media $small-desktop-min
		width: 520px

	.instance
		display block
		
		&:not(.active)
			display none
			
.form-picker
	position:relative
	top:2px
	left:2px
	
	button:nth-child(1)
		border-radius: 5px 0px 0px 0px
	
	button:nth-child(3)
		border-radius: 0px 5px 0px 0px

	p
		display:inline-block
		position:relative
		bottom:2px
		font-weight:400
		
.form-pickers
	background-color: #33516f
	color #ffffff
	font-size 11px
	height: 47px
	border 0
	display inline-block
	vertical-align top
	width: 32.666%
	font-weight: 400
	transition all .35s ease-in-out
	
			
	& + .form-pickers
		margin-left: 0.6667%
		
	i
		color $yellow
		font-size 16px
		margin-right: 5px
		
		&.alt 
			font-weight: 300

	&.active, &:hover
		background-color #1e364e
		color #FFF

		i 
			color yellow

	
.pop-box
	.boxes
		background:#ffffff 
		padding:14px 
		border-radius:20px 
		height:50px
		margin-bottom:10px 
		width:68%
		height:40px 
		border:3px solid blue  

	textarea
		background:#ffffff
		padding:14px
		border-radius:12px
		width:68%
		border:3px solid blue
		margin-bottom:10px
		
.box-date
	width:33%
	display:inline-block
	border-radius:20px
	height:40px
	border:3px solid blue
	position:relative
	left:0%
	margin-bottom:10px
	margin-right:5px
	margin-left:5px
	background:#ffffff
	
.btn-msgsub
	position:relative
	background:yellow
	text-transform:uppercase
	border-radius:12px
	border:none
	width:70%
	height:50px
	
	p
		font-weight:700
		color:#fff
		font-size:20px
		
.box-message
	position:relative
	
.leave-message
	text-align center
	
	.fields
		max-width 345px 
		margin auto
		
		.half 
			@media $small-desktop-min
				width: 47.5%
				float left
			
			& + .half 
				@media $small-desktop-min
					margin-left: 5%
					
		.full 
			clear both 
			
	.field-wrapper
		width: 100%
		display block
		margin-bottom: 10px
		position relative
		
		.icon 
			position absolute
			left 2px 
			height: 36px
			background-color: #FFF
			top 1px 
			bottom 1px
			width: 36px 
			text-align center
			
			i 
				color $green 
				font-size 16px
				line-height 34px

.field-green
	height: 38px
	border 1px solid $green 
	border-radius 4px
	width: 100%
	padding 5px 10px
	
	&.bigger
		height: 75px
		
	&.has-icon 
		padding-left: 40px

.leave-title
	font-size 20px
	color #000 
	font-weight: 400
	line-height: 24px
	padding-top: 40px
	margin-bottom: 20px
	max-width 360px
	display block
	margin-left: auto  
	margin-right: auto
	width: 100%
	border-bottom 0
	
	.variant 
		font-size 30px
		display block
		margin-bottom: 10px
	
.callers
	font-size 14px 
	color $gray
	margin-top: 18px 
	
	.number 
		padding 3px 8px 
		border-radius 50% 
		color #FFF
		background-color: red

.call-me-later
	width: 300px
	height 42px
	background-color: $green 
	color #FFF 
	font-size 20px 
	font-weight: 500
	border 2px solid transparent 
	border-radius 4px
	transition all .35s ease
	
	&:hover
		color $green 
		border-color $green 
		background-color: #FFF

.select-day
	width:160px
	border-radius:20px
	position:relative
	right:2%
	border:3px solid blue
	height:40px
	background:url('../img/arrow-select.png') 95%
	background-repeat:no-repeat
	-webkit-appearance:none
	-moz-appearance: none
	appearance:none
	
		
.confirm
	width: 78px
	display block
	margin-left: auto 
	margin-right: auto 
	height: 30px 
	background-color: yellow
	font-size 18px
	color #FFF
	font-weight:400
	border 2px solid transparent 
	border-radius 15px 
	transition .2s ease
	
	&:hover 
		background-color: #FFF
		color yellow 
		border-color yellow

.close-modal
	top 0
	right 10px
	position absolute 
	background transparent 
	color #FFF 
	padding 0 
	border 0
	font-size 42px

.call-cta-wrapper
	position fixed
	right 15px
	bottom 85px 
	z-index 10
	text-align center
	
	@media $tablet-max
		display none

	@media $small-desktop-minmax
		right 15px
		bottom 15px
		
.cta-tooltip
	width: 130px
	padding 0 14px
	padding-top: 22px
	padding-bottom: 19px
	position relative
	background-color: #fafafa
	text-align center
	border-radius 4px
	box-shadow 0 0 10px 0 rgba(#000, .25)
	opacity 1
	transform translateY(0px)
	transition all .35s ease-in-out


	@media $small-desktop-minmax
		width 130px
		padding 10px 14px
	
	&:after
		top: 100%
		left: 50%
		border: solid transparent
		content: ""
		height: 0
		width: 0
		position: absolute
		pointer-events: none
		border-color: rgba(255, 255, 255, 0)
		border-top-color: #fafafa
		border-width: 10px
		margin-left: -10px
		
	&.clicked
		transform translateY(-20px)
		opacity 0

.main-txt
	font-weight:700
	font-size:18px
	color:blue
	margin-bottom:20px

.desc
	margin-bottom:15px
	position:relative
	bottom:10px

.tooltip-text
	font-size 14px 
	color $gray 
	margin-bottom: 11px
	
	.variant 
		font-size 20px 
		font-weight: 700
		display block
		margin-bottom: 5px
		
.call-cta
	margin-top: 30px

	@media $small-desktop-minmax
		max-width 50px
		margin-top 15px
	
.whats-icon
	@media $small-desktop-min
		position:absolute
		bottom:400px
		left:45px
		height:50px
		width:50px
	    background-color: #01c854
	    -webkit-box-shadow: 0 0 0 7px rgba(199,239,215,.4)
	    box-shadow: 0 0 0 7px rgba(199,239,215,.4)
	    border-radius: 50%
	    font-size: 20px
	    color: #fff
	    display: block
	    margin-left: auto
	    margin-right: auto
	    margin-top: 20px
	    border: 0
	
.phone-icon 
	@media $small-desktop-min
		position relative
		height 45px
		width 45px 
		background-color #33516f
		box-shadow 0 0 0 7px rgba(#33516f, .4)
		border-radius 50%
		font-size 20px
		color #FFF
		display block
		margin-left auto 
		margin-right auto 
		margin-top 20px
		border 0
		
	i 
		absoluteCenter()
	
	&:after
		content '1'
		padding 3px 6px 
		font-size 12px
		color #FFF
		border-radius 50% 
		background-color red
		position absolute
		top -6px 
		right -6px
		
.close-cta
	position absolute
	width 25px
	height 25px 
	border-radius 50% 
	border 1.5px solid rgba(#000, .2)
	padding 0
	text-align center
	background-color #f3f3f3
	top -12.5px
	right -12.5px
	font-size 20px
	

	// contact-wrapper-mobile
.dibfather
	font-size 0
	
.socials
	font-size 0 
	
	.dib 
		font-size 18px
		color $blue
		
		& + .dib 
			margin-left 16px

.mobile-cta-wrapper
	@extend .dibfather 
	position fixed
	bottom 0
	z-index 10
	width 100%
	
	@media $small-desktop-min
		display none
		
	&:before
		content ''
		display block
		position absolute
		background-color rgba(#5192b5, .4)
		height 6px 
		top -6px 
		width 100% 
		left 0

.mobile-whatsapp-btn
	@extend .dib
	background-color #48acbc
	color #FFF 
	font-size 28px
	text-align center
	line-height 40px 
	height 40px
	width 17%
	border 0
	line-height 44px

.mobile-cta-btn
	@extend .dib 
	background-color #06839f 
	color #FFF 
	font-size 11px 
	font-weight 500
	height 40px 
	line-height 44px 
	padding 0
	text-align center
	border 0
	
	&.open-modal
		width 50.2%
		position relative
		
		&:before
			content ''
			display block
			absoluteVertical()
			left -1px 
			width 1px 
			height 80% 
			background-color rgba(#FFF, .7)
		
	&:not(.open-modal)
		width 32.8%
		