#services
	position:relative
	bottom:157px
	
	@media $mobile-max
		top:50px
		
	@media $tablet-minmax
		top:50px

#clean-house
	position:relative

	@media $mobile-max
		top:50px
		
	@media $tablet-minmax
		top:50px

#contact
	position:relative
	background-position-x:60%
	background:url('../img/background-2.jpg')
	background-repeat:no-repeat
	min-height:1160px
	background-position:center
	margin-top:180px
	
	@media $mobile-max
		background-position:0%
		min-height:1200px
			
	@media $tablet-minmax
		background-position:0%
		min-height:1200px


.slider
	background:url('../img/background.png')
	background-repeat: no-repeat
	min-height:1600px
	position:relative
	bottom:160px
	width:100%
	background-position-x:4%
	background-position:center

	@media $mobile-max
		background:url('../img/background-mobile.png') 
		background-repeat:no-repeat
		display:inline-block	
		text-align:center
		min-height:650px
		background-position-x:75%
				
	@media $tablet-minmax
		background:url('../img/background-mobile.png') 
		background-repeat:no-repeat
		display:inline-block	
		text-align:center
		min-height:650px
		background-position-x:75%

.background
	position:absolute
	background:url('../img/background-services.png')
	background-repeat:no-repeat
	background-position:center
	width:100%
	z-index:-1
	height:3414px
	top:0px
	
	@media $mobile-max
		background:url('../img/background-services-mobile.png')
		top:350px
		height:1100px
		background-position:0%
		
	@media $tablet-minmax
		background:url('../img/background-services-mobile.png')
		top:350px
		height:1100px
		background-position:0%

.img-aside
	position:absolute
	left:65%
	top:-50px
	z-index:1

.main-title
	position:relative
	top:60px
	width:490px
    
	h1
		font-size:60px
		color: yellow
		font-weight:400		
		
	p:first-child
		font-size:80px
		color:blue
		font-weight:700
			
	p:nth-child(2)
		font-weight:400	
		font-size: 20px 
		position:relative
		top:30px
		line-height:25px
		color:gray
		
	@media $mobile-max
		position:relative
		top:350px
		width:300px
		display:inline-block
		
		h1
			font-size:36px
			
		p:nth-child(1)
			font-size:56px
			
		p:nth-child(2)
			font-size:14px	
			

	@media $tablet-minmax
		position:relative
		top:350px
		width:300px
		display:inline-block
		
		h1
			font-size:36px
			
		p:nth-child(1)
			font-size:56px
			
		p:nth-child(2)
			font-size:14px	
			

.content
	position:relative
	top:150px

.box-servicos
	
	h2
		font-weight:400	
		font-size: 60px 
		position:relative
		top:30px
		color:#fff
		
	@media $mobile-max	
		display:inline-block
		text-align:center
		position:relative
		bottom:30px
		margin-bottom:50px
		
		h2
			width:70%
			left:15%
			font-size:32px
			font-weight:400	


	@media $tablet-minmax
		display:inline-block
		text-align:center
		position:relative
		bottom:30px
		margin-bottom:50px
		
		h2
			width:70%
			left:15%
			font-size:32px
			font-weight:400


.blue-title
	font-size:80px
	color:blue
	font-weight:700
	
	@media $mobile-max
		font-size:40px
		width:95%
		position:relative
		margin-top:15px


	@media $tablet-minmax
		font-size:40px
		width:95%
		position:relative
		margin-top:15px


		
.content-services
	position:relative
	top:50px
	
	p:first-child
		font-size:16px
		color:gray
		position:relative
		left:8px
		
	@media $mobile-max
		p:first-child
			font-size:14px
			line-height:20px
			left:0px

	@media $tablet-minmax
		position:relative
		top:50px
		left:0px
		width:80%
		display:inline-block
		
		p:first-child
			font-size:14px
			line-height:20px

.item-servico
	position:relative
	text-align:center
	top:50px
	margin-bottom:50px
	height:270px
	h3
		color:blue
		font-size:30px
		position:relative
		font-weight:700
		top:40px
		left:5px
	img
		position:absolute
		left:8%
		top:9px

	@media $mobile-max
		position:relative
		text-align:center
		top:50px
		height:314px
		
	@media $tablet-minmax
		position:relative
		text-align:center
		top:50px
		height:314px



.desc-servico
	font-size:12px
	position:relative
	top:50px
	width:90%
	left:20px		
	line-height:16px
	color:gray
	
.circle
	position:relative
	left:29%
	width:120px
	height:120px
	border:1px solid blue
	border-radius:70px
	
	@media $mobile-max
		left:0
		display:inline-block
		
	@media $tablet-minmax
		left:0
		display:inline-block
	
.pre-title
	position:absolute
	font-size:18px
	margin-bottom:18px
	top:140px
	width:90%
	left:20px	
	color:gray
		
	@media $mobile-max
		left:25px
	
	@media $tablet-minmax
		left:25px

.clean-title
	
	h4
		position:relative
		font-weight:400
		color:yellow
		font-size:60px
	p
		position:relative
		font-weight:700
		color:blue
		font-size:80px
	
	@media $mobile-max
		postiion:relative
		display:inline-block
		text-align:center
		h4
			font-size:36px
			position:relative
			bottom:0px	
		p
			font-size:56px

	@media $tablet-minmax
		h4
			font-size:36px
			position:relative
			bottom:0px
		p
			font-size:56px


.clean-subtitle
	position:relative
	top:20px
	margin-bottom:40px
	
	h4
		position:relative
		color:yellow
		font-size:34px
		font-weight:400
	p
		position:relative
		color:blue
		font-size:46px
		font-weight:700
	
	

.box-clean
	margin-top:30px
	
	@media $mobile-max
		display:inline-block
		text-align:center
		width:100%

	@media $tablet-minmax
		display:inline-block
		text-align:center
		width:100%
	
.text-clean
	position:relative
	width:60%
	p
		font-weight:400
		font-size:16px
		margin:15px 10px 10px 0px
		color:gray
		
	h5
		font-weight:700
		color:blue
		font-size:20px

	
	@media $mobile-max
		width:100%
		p
			font-size:14px
			position:relative
			left:5%
			width:90%
			
		h5:first-child
			font-size:16px
	
	@media $tablet-minmax
		width:100%
		p
			font-size:14px
			position:relative
			left:5%
			width:90%
			
		h5:first-child
			font-size:16px

.item-clean
	position:relative
	text-align:center
	display:inline-block

	h5
		font-weight:700
		color:blue
		font-size:24px
		left:19%
		margin-top:20px
		margin-bottom:20px
		width:64%
		position:relative

	p
	
		font-size:12px
		line-height:15px
		color:gray
		
	@media $mobile-max
		p
			width:100%	

		h5
			left:0%
			width:100%
			text-align:center		
			font-weight:700
	
	@media $tablet-minmax
		p
			width:100%	

		h5
			left:0%
			width:100%
			text-align:center		
			font-weight:700


.item-clean .first-title-clean
	width:100%
	left:0%
	
.circle-clean
	position:relative
	background:#fef6e5
	width:140px
	height:140px
	border-radius:80px
	left:18%
	
	img
		position:relative
		height:120px
		top:0px
	
	@media $mobile-max
		left:0%
		display:inline-block
		text-align:center

	@media $tablet-minmax
		left:0%
		display:inline-block
		text-align:center

.info-contact
	p
		font-size:20px

	h5
		position:relative
		color:blue
		font-weight:700
		font-size:36px

	h5:first-child
		margin-bottom:40px
		
	a
		font-size:24px
		font-weight:700
		color:blue
		
.contact-phone
	margin-bottom:40px

	p
		color:blue
		font-size:28px
		display:contents
		position:relative

	a
		position:relative
		left:2%
		top:0px
		margin-right:10px
	
	@media $mobile-max
		margin-bottom:30px
		a
			position:relative
			display:grid
			left:27%
			width:50%
		
	@media $tablet-minmax
		margin-bottom:30px
		a
			position:relative
			display:grid
			left:30%
			width:50%
	


.contact-whats
	p
		position:relative
		left:5%	
		font-size:18px
		margin-bottom:4px
		top:-42px
	a
		font-size:18px
	
	@media $mobile-max
	
		img
			top:45px
			right:34%
		
		p
			top:0px
			position:relative
			left:22%
			width:69%


	@media $tablet-minmax
		p
			top:0px
			position:relative
			left:11%
			top:-21px

.icon-contact
	position:relative
	top:15px
		
.box-contact
	position:relative
	top:30px
	

.info-contact
	width:50%
	p
		font-size:20px

	h5
		position:relative
		color:blue
		font-weight:700
		font-size:36px

	h5:first-child
		margin-bottom:40px
		
	a
		font-size:24px
		font-weight:700
		color:blue

	@media $tablet-minmax
		img
			right:85px
			top:25px
		
.contact-phone

	p
		color:blue
		font-size:28px
		display:contents
		position:relative

	a
		position:relative
		left:2%
		top:0px

.contact-whats
	p
		position:relative
		left:10%	
		font-size:18px
		margin-bottom:4px
		top:-31px
	a
		font-size:18px

.box-contact
	position:relative
	top:30px
	

.ty-page
	background:url('../img/background-mobile.png')
	background-repeat:no-repeat
	height:640px
	top:0px
	background-position-x:85%
	
	@media $mobile-max
		top:-120px
		height:600px
		background-position-x:80%
	
	@media $tablet-minmax
		height:1080px
		
.title-tks
	position:relative
	top:80px
	left:70px
	width:490px
	
	@media $mobile-max
		top:475px
		display:inline
		width:300px
		left:0px
		text-align:center
	
	@media $tablet-minmax
		left:70px
		top:80px
		width:325px
	
	p:first-child
		font-size:80px
		color:blue
		font-weight:700
		margin-bottom:20px
		
		@media $mobile-max
			font-size:40px
			text-align:center
			
		@media $tablet-minmax
			font-size:72px
	p

		font-weight: 400 
		font-size:16px
		color:gray
		
.btn-back
	margin-top:50px
	
	p
		color:gray
	a
		color:yellow

// typage
.page-template
	.btn-menu
		display:none
	.menu-left, .menu-right
		display:none
	.call-cta-wrapper
		display:none
	.logocenter
		left:45%
		
// contact-wrapper-mobile
.dibfather
	font-size 0
	
.socials
	font-size 0 
	
	.dib 
		font-size 18px
		color $blue
		
		& + .dib 
			margin-left 16px

.mobile-cta-wrapper
	@extend .dibfather 
	position fixed
	bottom 0
	z-index 10
	width 100%
	
	@media $small-desktop-min
		display none
		
	&:before
		content ''
		display block
		position absolute
		background-color rgba(#5192b5, .4)
		height 6px 
		top -6px 
		width 100% 
		left 0

.mobile-whatsapp-btn
	@extend .dib
	background-color #48acbc
	color #FFF 
	font-size 28px
	text-align center
	line-height 40px 
	height 40px
	width 17%
	border 0
	line-height 44px

.mobile-cta-btn
	@extend .dib 
	background-color #06839f 
	color #FFF 
	font-size 11px 
	font-weight 500
	height 40px 
	line-height 44px 
	padding 0
	text-align center
	border 0
	
	&.open-modal
		width 50.2%
		position relative
		
		&:before
			content ''
			display block
			absoluteVertical()
			left -1px 
			width 1px 
			height 80% 
			background-color rgba(#FFF, .7)
		
	&:not(.open-modal)
		width 32.8%
		