html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  font-family: 'Gotham Rounded';
}
body,
html {
  font-size: 10px;
}
body.no-scroll,
html.no-scroll {
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  img {
    object-fit: cover;
  }
}
button {
  cursor: pointer;
}
input,
select,
textarea {
  padding: 5px 10px;
  font-family: inherit;
  resize: none;
}
pre {
  font-size: 16px;
  display: block;
  text-align: left;
  background: #fafafa;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 20px;
  line-height: 28px;
  font-family: monospace;
  overflow: scroll;
}
.oldiewarning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #32363b;
  overflow: hidden;
  z-index: 1000;
  display: none;
}
.oldiewarning p,
.oldiewarning a {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 500px;
  color: #fff;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
}
.lt-ie9 {
  overflow: hidden;
}
.lt-ie9 .oldiewarning {
  display: block;
}
.center-content {
  width: 100%;
  margin: auto;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content {
    padding: 0 10px;
  }
}
.center-content:not(.not-relative) {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .center-content:not(.nopadding) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .center-content:not(.inner) {
    width: 1140px;
  }
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content:not(.inner) {
    width: 1000px;
  }
}
.full {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .flexed {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .flexed.row {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1024px) {
  .flexed.spaced {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .flexed.centered {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .flexed.start {
    align-items: flex-start;
  }
}
.dib,
.mobile-whatsapp-btn,
.mobile-cta-btn {
  display: inline-block;
  vertical-align: top;
}
.cleared:after {
  content: '';
  display: block;
  clear: both;
}
.transitioned-basic {
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .hideonmobile {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .becomes-carousel-on-mobile .slick-slide {
    margin: 0 40px;
  }
  .becomes-carousel-on-mobile .slick-list {
    margin: 0 -40px;
  }
}
.full {
  display: block;
  width: 100%;
  clear: both;
}
@media screen and (min-width: 1024px) {
  .half,
  .half-child {
    width: 47.5%;
  }
}
.half-child + .half-child:not(:nth-child(2n+3)) {
  margin-left: 5%;
}
@media screen and (min-width: 1024px) {
  .one-third,
  .one-third-child {
    width: 31.66%;
  }
}
.one-third-child + .one-third-child:not(:nth-of-type(3n+4)) {
  margin-left: 2.5%;
}
@media screen and (min-width: 1024px) {
  .one-fourth,
  .one-fourth-child {
    width: 23.75%;
  }
}
@media screen and (min-width: 1024px) {
  .one-fourth-child + .one-fourth-child:not(:nth-of-type(4n+5)) {
    margin-left: 1.666%;
  }
}
@media screen and (min-width: 1024px) {
  .one-fifth,
  .one-fifth-child {
    width: 18%;
  }
}
@media screen and (min-width: 1024px) {
  .one-fifth-child + .one-fifth-child:not(:nth-of-type(5n+6)) {
    margin-left: 2.5%;
  }
}
@media screen and (min-width: 1024px) {
  .two-thirds {
    width: 63.334%;
  }
}
@media screen and (min-width: 1024px) {
  .two-thirds:last-child {
    margin-left: 5%;
  }
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/GothamRoundedBook.ttf") format('truetype');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'auto';
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/GothamRoundedBold.ttf") format('truetype');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'auto';
}
.gr {
  font-family: 'Gotham Rounded';
}
.t-white {
  color: #fff;
}
.t-xxs {
  font-size: 10px;
}
.t-xs {
  font-size: 12px;
}
.t-s {
  font-size: 14px;
}
.t-r {
  font-size: 16px;
}
.t-g {
  font-size: 18px;
}
.t-xg {
  font-size: 20px;
}
.t-xxg {
  font-size: 22px;
}
.t-xxxg {
  font-size: 24px;
}
.t-xxxxg {
  font-size: 28px;
}
.t-exg {
  font-size: 36px;
}
.t-exxg {
  font-size: 40px;
}
.lh-xs {
  line-height: 14px;
}
.lh-s {
  line-height: 16px;
}
.lh-r {
  line-height: 18px;
}
.lh-g {
  line-height: 20px;
}
.lh-xg {
  line-height: 22px;
}
.lh-xxg {
  line-height: 24px;
}
.hiline {
  line-height: 26px;
}
.hiline-extra {
  line-height: 44px;
}
.margin-xxxs {
  margin-bottom: 10px;
}
.margin-xxs {
  margin-bottom: 15px;
}
.margin-xs {
  margin-bottom: 25px;
}
.margin-s {
  margin-bottom: 30px;
}
.margin {
  margin-bottom: 40px;
}
.margin-g {
  margin-bottom: 55px;
}
.margin-xg {
  margin-bottom: 65px;
}
.margin-xxg {
  margin-bottom: 75px;
}
.margin-xxxg {
  margin-bottom: 85px;
}
.t-centered {
  text-align: center;
}
.limited-width {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.upper {
  text-transform: uppercase;
}
.med {
  font-weight: 500;
}
.sb {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
a.und,
.und {
  text-decoration: underline !important;
}
.ita {
  font-style: italic;
}
.variant {
  border: 0;
  background-color: transparent;
  padding: 0;
}
.topinfo {
  position: relative;
  width: 100%;
  top: 5px;
}
@media screen and (max-width: 599px) {
  .topinfo {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .topinfo {
    display: none;
  }
}
.icon-top {
  position: relative;
  top: 13px;
  left: 7px;
}
.zap {
  position: relative;
  top: 8px;
  right: 8px;
}
.topleft p,
.topright p {
  font-size: 14px;
}
.topleft i,
.topright i {
  font-size: 14px;
}
.topleft {
  position: relative;
  display: flex;
}
.topleft p {
  position: relative;
  margin-left: 15px;
  top: 15px;
  font-weight: 400;
  color: #58595b;
}
.topleft i {
  color: #fad47d;
  margin-right: 5px;
}
.cover-phone {
  position: relative;
  background: #eaedf0;
  float: right;
  width: 195px;
  height: 60px;
  bottom: 19px;
  right: 2%;
  border-radius: 0px 0px 20px 20px;
}
.topright {
  position: relative;
  left: 5%;
  top: 14px;
  font-size: 15px;
  width: 176px;
  border-radius: 10px;
  padding: 0px 34px;
  background: #fff;
}
.topright p {
  position: relative;
  font-weight: 700;
  color: #33516f;
  bottom: 11px;
  left: 15px;
}
.topright i {
  position: relative;
  right: 4%;
  color: #01c854;
}
.footer-box {
  position: relative;
  background: #fff;
  height: 60px;
}
@media screen and (max-width: 599px) {
  .footer-box {
    height: 120px;
    bottom: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer-box {
    height: 120px;
    bottom: 50px;
  }
}
.footer-left {
  position: relative;
  display: flex;
  color: #6d6e71;
  font-size: 16px;
  top: 25px;
}
.footer-left p:nth-child(1) {
  font-weight: 700;
  margin-right: 5px;
}
.footer-left p:nth-child(2) {
  font-weight: 400;
}
@media screen and (max-width: 599px) {
  .footer-left {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer-left {
    width: 100%;
    left: 20%;
    margin-bottom: 25px;
  }
}
.footer-right {
  position: relative;
  float: right;
  display: flex;
  color: #6d6e71;
  font-weight: 400;
  font-size: 16px;
  top: 8px;
}
.footer-right img {
  position: relative;
  bottom: 4px;
  left: 2%;
}
@media screen and (max-width: 599px) {
  .footer-right {
    display: inline-flex;
    text-align: center;
    left: 23%;
    top: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer-right {
    left: 35%;
    top: 20px;
    width: 100%;
  }
}
.btn-form {
  display: none;
}
@media screen and (max-width: 599px) {
  .btn-form {
    display: block;
    position: relative;
    top: 75px;
    background: #33516f;
    text-align: center;
    border-radius: 10px;
    height: 46px;
    cursor: pointer;
  }
  .btn-form p:first-child {
    font-weight: 400;
    text-transform: uppercase;
    color: #fad47d;
    letter-spacing: 1px;
    font-size: 16px !important;
    position: relative;
    top: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .btn-form {
    display: block;
    position: relative;
    top: 75px;
    background: #33516f;
    text-align: center;
    border-radius: 10px;
    height: 46px;
    cursor: pointer;
  }
  .btn-form p:first-child {
    font-weight: 400;
    text-transform: uppercase;
    color: #fad47d;
    letter-spacing: 1px;
    font-size: 16px !important;
    position: relative;
    top: 15px;
  }
}
.box-form {
  display: none;
}
@media screen and (max-width: 599px) {
  .box-form {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 3;
    height: 1560px;
    top: 650px;
  }
  .box-form p:first-child {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000;
    position: relative;
    width: 90%;
    left: 5%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .box-form {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 3;
    height: 1560px;
    top: 650px;
  }
  .box-form p:first-child {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000;
    position: relative;
    width: 90%;
    left: 5%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
.select-servicos {
  position: relative;
  background: #33516f;
  width: 90%;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  height: 45px;
}
@media screen and (max-width: 599px) {
  .box-form .form-steps {
    position: relative;
    top: 40px;
  }
  .box-form .form-steps p {
    color: #33516f;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .box-form .form-steps select {
    position: relative;
    background: #f1f2f2;
    width: 90%;
    font-weight: 400;
    color: #6d6e71;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background: url("../img/arrow-select.png") #f1f2f2 95%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
  }
  .box-form .form-steps input[type="text"],
  .box-form .form-steps input[type="phone"] {
    width: 90%;
    background: #f1f2f2;
    border-radius: 10px;
    font-weight: 400;
    height: 40px;
    border: none;
    margin-bottom: 10px;
  }
  .box-form .form-steps textarea {
    position: relative;
    font-weight: 400;
    margin-top: 5px;
    width: 90%;
    border: none;
    background: #f1f2f2;
    border-radius: 10px;
  }
  .box-form .form-steps input[type="text"],
  .box-form .form-steps input[type="phone"] {
    width: 90%;
    background: #f1f2f2;
    border-radius: 10px;
    font-weight: 400;
    height: 40px;
    border: none;
    margin-bottom: 10px;
  }
  .box-form .form-steps textarea {
    position: relative;
    font-weight: 400;
    margin-top: 5px;
    width: 90%;
    border: none;
    background: #f1f2f2;
    border-radius: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .box-form .form-steps {
    position: relative;
    top: 40px;
  }
  .box-form .form-steps p {
    color: #33516f;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .box-form .form-steps select {
    position: relative;
    background: #f1f2f2;
    width: 90%;
    font-weight: 400;
    color: #6d6e71;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background: url("../img/arrow-select.png") #f1f2f2 95%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;
  }
  .box-form .form-steps input[type="text"],
  .box-form .form-steps input[type="phone"] {
    width: 90%;
    background: #f1f2f2;
    border-radius: 10px;
    font-weight: 400;
    height: 40px;
    border: none;
    margin-bottom: 10px;
  }
  .box-form .form-steps textarea {
    position: relative;
    font-weight: 400;
    margin-top: 5px;
    width: 90%;
    border: none;
    background: #f1f2f2;
    border-radius: 10px;
  }
  .box-form .form-steps input[type="text"],
  .box-form .form-steps input[type="phone"] {
    width: 90%;
    background: #f1f2f2;
    border-radius: 10px;
    font-weight: 400;
    height: 40px;
    border: none;
    margin-bottom: 10px;
  }
  .box-form .form-steps textarea {
    position: relative;
    font-weight: 400;
    margin-top: 5px;
    width: 90%;
    border: none;
    background: #f1f2f2;
    border-radius: 10px;
  }
}
.contact-mobile {
  display: none;
}
.container-form {
  position: relative;
  bottom: 1175px;
}
.before-box {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  left: 0%;
  top: 20px;
  color: #6d6e71;
}
@media screen and (max-width: 599px) {
  .before-box {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .before-box {
    display: none;
  }
}
.tabs {
  position: relative;
  bottom: 48px;
}
.tabitem {
  position: absolute;
  background: #33516f;
  width: 280px;
  height: 50px;
  border-radius: 10px 10px 1px 1px;
  cursor: pointer;
}
.tabitem p {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  top: 20px;
  left: 45px;
}
.tabitem img {
  position: absolute;
  top: 15px;
  left: 21px;
}
.tabitem2 {
  position: absolute;
  background: #33516f;
  width: 280px;
  height: 50px;
  border-radius: 10px 10px 1px 1px;
  cursor: pointer;
  left: 24%;
}
.tabitem2 p {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  top: 18px;
  left: 43px;
}
.tabitem2 img {
  position: absolute;
  top: 15px;
  left: 21px;
}
.inactive {
  color: #33516f;
  background: #fff;
  border-radius: 10px 10px 0 0;
  border-bottom: 4px solid #33516f;
}
.inactive p {
  color: #33516f;
}
.main-box {
  position: absolute;
  top: 100px;
  background: #fff;
  height: 840px;
  border-radius: 10px;
  -webkit-box-shadow: 22px 14px 73px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 21px 14px 73px -12px rgba(0,0,0,0.75);
  box-shadow: 22px 14px 73px -12px rgba(0,0,0,0.75);
  z-index: 3;
}
@media screen and (max-width: 599px) {
  .main-box {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main-box {
    display: none;
  }
}
.icon {
  position: relative;
  top: 20px;
  left: 20%;
  height: 25px;
  width: 24px;
  margin-right: 5%;
}
.form-box {
  position: relative;
  top: 20px;
  left: 4%;
  border-radius: 10px;
}
.form-box p {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: #33516f;
  margin-bottom: 10px;
  margin-top: 20px;
}
.form-box input[type="text"],
.form-box input[type="mail"],
.form-box input[type="phone"],
.form-box textarea {
  border: none;
  background: #f1f2f2;
  padding: 14px;
  border-radius: 12px;
}
.data {
  position: relative;
  border-radius: 8px;
  background: #f1f2f2;
  padding: 14px;
  left: 10px;
}
@media screen and (max-width: 599px) {
  .data {
    left: -7px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .data {
    left: -7px;
  }
}
.first-form {
  position: relative;
  width: 95%;
  font-weight: 400;
}
.first-form select {
  position: relative;
  width: 30%;
  height: 45px;
  border-radius: 8px;
  margin-right: 25px;
  background: #f1f2f2;
  border: none;
  background: url("../img/arrow-select.png") #f1f2f2 95%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
  color: #6d6e71;
}
.first-form textarea {
  position: relative;
  border-radius: 8px;
  width: 98%;
  background: #f1f2f2;
}
.name,
.phone,
.mail {
  margin-right: 12px;
}
.lar {
  position: relative;
  width: 32%;
  margin-right: 10px;
  height: 45px;
  border-radius: 8px;
  background: #f1f2f2;
}
.checkbox-form {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  width: 212px;
  margin-right: 1%;
  height: 60px;
  border-radius: 12px;
  background: #f1f2f2;
}
.checkbox-form:hover {
  transition: 0.2s;
  background: #d1d3d4;
}
.checkbox-form i,
.checkbox-form label {
  position: relative;
  top: 13px;
  left: 20%;
}
.checkbox-form label {
  font-size: 16px;
  color: #6d6e71;
}
.checkbox-form input[type="checkbox"] {
  position: absolute;
  width: 212px;
  height: 50px;
  background: #f1f2f2;
  z-index: 2;
  opacity: 0;
  margin-left: -37px;
  cursor: pointer;
}
.btn-active label {
  font-weight: 700;
  color: #fff !important;
}
.checkbox-form.btn-active {
  position: relative;
  background: #fad47d;
}
.checkbox-form-servicos {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  width: 173px;
  margin-right: 1%;
  height: 60px;
  border-radius: 12px;
  background: #f1f2f2;
  text-align: center;
}
.checkbox-form-servicos:hover {
  transition: 0.2s;
  background: #d1d3d4;
}
.checkbox-form-servicos label {
  position: relative;
  top: 18px;
  font-size: 16px;
  color: #6d6e71;
}
.checkbox-form-servicos input[type="checkbox"] {
  position: absolute;
  width: 166px;
  height: 40px;
  background: #f1f2f2;
  z-index: 999;
  margin-left: 0px;
  margin-top: 12px;
  opacity: 0;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .checkbox-form-servicos {
    width: 90%;
    height: 60px;
    margin-bottom: 20px;
  }
  .checkbox-form-servicos label {
    position: relative;
    top: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .checkbox-form-servicos {
    width: 90%;
    height: 60px;
    margin-bottom: 20px;
  }
  .checkbox-form-servicos label {
    position: relative;
    top: 20px;
  }
}
.roupa {
  position: relative;
  bottom: 15px;
}
.roupa label {
  top: 20px;
}
.roupa input[type="checkbox"] {
  width: 166px;
  left: 0px;
}
.checkbox-form-servicos.btn-active {
  position: relative;
  background: #fad47d;
}
.bairro {
  position: relative;
  width: 34%;
  height: 45px;
  border-radius: 8px;
  background: #f1f2f2;
}
.agenda {
  position: relative;
  width: 18%;
  margin-right: 10px;
  height: 45px;
  border-radius: 8px;
  background: #f1f2f2;
}
.services {
  position: absolute;
  width: 100%;
  left: 0%;
}
.contact-form {
  position: relative;
  font-weight: 400;
  top: 20px;
  left: 1%;
}
.contact-form input,
.contact-form label {
  position: relative;
  display: block;
}
.contact-form label {
  position: relative;
  font-size: 12px;
  bottom: 5px;
  left: 1%;
  color: #6d6e71;
}
.contact-form input[type="text"],
.contact-form input[type="mail"],
.contact-form input[type="phone"] {
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 40px;
}
.contact-form select {
  width: 411px;
  height: 45px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: url("../img/arrow-select.png") #f1f2f2 95%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
  color: #6d6e71;
}
.contact-form textarea {
  width: 100%;
  border-radius: 8px;
  border: none;
}
@media screen and (max-width: 599px) {
  .contact-form {
    left: 4%;
    margin-top: 20px;
    width: 63%;
    display: inline-block;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contact-form {
    left: 52%;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}
.btn-boxsubmit {
  position: relative;
  font-weight: 700;
  background: #33516f;
  color: #fad47d;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  left: 2%;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .btn-boxsubmit {
    margin-top: 10px;
    left: -1%;
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .btn-boxsubmit {
    margin-top: 10px;
    left: -1%;
    width: 90%;
  }
}
.form-item {
  position: relative;
  float: left;
  margin-bottom: 26px;
  margin-right: 35px;
}
.form-item input,
.form-item select,
.form-item textarea {
  -webkit-box-shadow: 22px 24px 37px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 22px 24px 37px -8px rgba(0,0,0,0.75);
  box-shadow: 22px 24px 37px -8px rgba(0,0,0,0.75);
}
@media screen and (max-width: 599px) {
  .form-item label {
    float: left;
  }
  .form-item p {
    position: relative;
    font-size: 16px;
    top: 18px;
    left: 5px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .form-item h5 {
    position: relative;
    font-size: 18px;
    top: 15px;
    color: #33516f;
    left: 5px;
    margin-bottom: 20px;
  }
}
.btn-submit {
  position: relative;
  left: 35%;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  background: #33516f;
  color: #fff;
  font-weight: 700;
  padding: 11px 50px;
  border: none;
  -webkit-box-shadow: 22px 24px 37px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 22px 24px 37px -8px rgba(0,0,0,0.75);
  box-shadow: 22px 24px 37px -8px rgba(0,0,0,0.75);
}
.btn-submit img {
  position: relative;
  right: 2px;
  top: 2px;
}
@media screen and (max-width: 599px) {
  .btn-submit {
    left: 9%;
    bottom: 16px;
    padding: 11px 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .btn-submit {
    left: 0%;
    padding: 11px 20px;
  }
}
.topic-clean {
  position: relative;
  width: 22%;
}
.overlay-menu {
  display: none;
}
.carousel-info {
  display: none;
}
.topmenu {
  display: none;
}
@media screen and (max-width: 599px) {
  .topmenu {
    display: block;
    border-bottom: 10px solid #f2f3f2;
    background: #fff;
    position: relative;
    bottom: 70px;
  }
  .topmenu a {
    position: relative;
    text-align: center;
    left: 33%;
    top: 80px;
    z-index: 1;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .topmenu {
    display: block;
    border-bottom: 10px solid #f2f3f2;
    background: #fff;
    position: relative;
    bottom: 70px;
  }
  .topmenu a {
    position: relative;
    text-align: center;
    left: 41%;
    top: 80px;
    z-index: 1;
  }
}
.main-menu {
  position: relative;
  display: flex;
  left: 0%;
  width: 100%;
  top: 15px;
  font-weight: 400;
  font-size: 20px;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .main-menu {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}
.item ul {
  justify-context: space-around;
  display: flex;
  padding: 0;
  list-style-type: none;
}
.item ul li {
  position: relative;
  padding: 5px 30px;
  margin: 0 20px 0 0;
  border: 1px solid transparent;
  transition: 0.2s;
}
.item ul li:hover {
  border: 1px solid #fad47d;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 9px 7px 16px 0px rgba(0,0,0,0.75);
  transition: 0.2s;
}
.item ul li:hover:after,
.item ul li a {
  position: relative;
  color: #33516f;
  font-size: 18px;
}
.menu-left,
.menu-right {
  width: 40%;
}
.menu-left {
  position: relative;
  display: inline-block;
  left: 1%;
}
.menu-right {
  position: relative;
  float: right;
  left: 21%;
}
.logocenter {
  width: 160px;
  height: 159px;
  position: relative;
  left: 5%;
  bottom: 30px;
  z-index: 1;
}
#services {
  position: relative;
  bottom: 157px;
}
@media screen and (max-width: 599px) {
  #services {
    top: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #services {
    top: 50px;
  }
}
#clean-house {
  position: relative;
}
@media screen and (max-width: 599px) {
  #clean-house {
    top: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #clean-house {
    top: 50px;
  }
}
#contact {
  position: relative;
  background-position-x: 60%;
  background: url("../img/background-2.jpg");
  background-repeat: no-repeat;
  min-height: 1160px;
  background-position: center;
  margin-top: 180px;
}
@media screen and (max-width: 599px) {
  #contact {
    background-position: 0%;
    min-height: 1200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #contact {
    background-position: 0%;
    min-height: 1200px;
  }
}
.slider {
  background: url("../img/background.png");
  background-repeat: no-repeat;
  min-height: 1600px;
  position: relative;
  bottom: 160px;
  width: 100%;
  background-position-x: 4%;
  background-position: center;
}
@media screen and (max-width: 599px) {
  .slider {
    background: url("../img/background-mobile.png");
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    min-height: 650px;
    background-position-x: 75%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .slider {
    background: url("../img/background-mobile.png");
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    min-height: 650px;
    background-position-x: 75%;
  }
}
.background {
  position: absolute;
  background: url("../img/background-services.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  z-index: -1;
  height: 3414px;
  top: 0px;
}
@media screen and (max-width: 599px) {
  .background {
    background: url("../img/background-services-mobile.png");
    top: 350px;
    height: 1100px;
    background-position: 0%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .background {
    background: url("../img/background-services-mobile.png");
    top: 350px;
    height: 1100px;
    background-position: 0%;
  }
}
.img-aside {
  position: absolute;
  left: 65%;
  top: -50px;
  z-index: 1;
}
.main-title {
  position: relative;
  top: 60px;
  width: 490px;
}
.main-title h1 {
  font-size: 60px;
  color: #fad47d;
  font-weight: 400;
}
.main-title p:first-child {
  font-size: 80px;
  color: #33516f;
  font-weight: 700;
}
.main-title p:nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  position: relative;
  top: 30px;
  line-height: 25px;
  color: #6d6e71;
}
@media screen and (max-width: 599px) {
  .main-title {
    position: relative;
    top: 350px;
    width: 300px;
    display: inline-block;
  }
  .main-title h1 {
    font-size: 36px;
  }
  .main-title p:nth-child(1) {
    font-size: 56px;
  }
  .main-title p:nth-child(2) {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main-title {
    position: relative;
    top: 350px;
    width: 300px;
    display: inline-block;
  }
  .main-title h1 {
    font-size: 36px;
  }
  .main-title p:nth-child(1) {
    font-size: 56px;
  }
  .main-title p:nth-child(2) {
    font-size: 14px;
  }
}
.content {
  position: relative;
  top: 150px;
}
.box-servicos h2 {
  font-weight: 400;
  font-size: 60px;
  position: relative;
  top: 30px;
  color: #fff;
}
@media screen and (max-width: 599px) {
  .box-servicos {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 30px;
    margin-bottom: 50px;
  }
  .box-servicos h2 {
    width: 70%;
    left: 15%;
    font-size: 32px;
    font-weight: 400;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .box-servicos {
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 30px;
    margin-bottom: 50px;
  }
  .box-servicos h2 {
    width: 70%;
    left: 15%;
    font-size: 32px;
    font-weight: 400;
  }
}
.blue-title {
  font-size: 80px;
  color: #33516f;
  font-weight: 700;
}
@media screen and (max-width: 599px) {
  .blue-title {
    font-size: 40px;
    width: 95%;
    position: relative;
    margin-top: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .blue-title {
    font-size: 40px;
    width: 95%;
    position: relative;
    margin-top: 15px;
  }
}
.content-services {
  position: relative;
  top: 50px;
}
.content-services p:first-child {
  font-size: 16px;
  color: #6d6e71;
  position: relative;
  left: 8px;
}
@media screen and (max-width: 599px) {
  .content-services p:first-child {
    font-size: 14px;
    line-height: 20px;
    left: 0px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .content-services {
    position: relative;
    top: 50px;
    left: 0px;
    width: 80%;
    display: inline-block;
  }
  .content-services p:first-child {
    font-size: 14px;
    line-height: 20px;
  }
}
.item-servico {
  position: relative;
  text-align: center;
  top: 50px;
  margin-bottom: 50px;
  height: 270px;
}
.item-servico h3 {
  color: #33516f;
  font-size: 30px;
  position: relative;
  font-weight: 700;
  top: 40px;
  left: 5px;
}
.item-servico img {
  position: absolute;
  left: 8%;
  top: 9px;
}
@media screen and (max-width: 599px) {
  .item-servico {
    position: relative;
    text-align: center;
    top: 50px;
    height: 314px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .item-servico {
    position: relative;
    text-align: center;
    top: 50px;
    height: 314px;
  }
}
.desc-servico {
  font-size: 12px;
  position: relative;
  top: 50px;
  width: 90%;
  left: 20px;
  line-height: 16px;
  color: #6d6e71;
}
.circle {
  position: relative;
  left: 29%;
  width: 120px;
  height: 120px;
  border: 1px solid #33516f;
  border-radius: 70px;
}
@media screen and (max-width: 599px) {
  .circle {
    left: 0;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .circle {
    left: 0;
    display: inline-block;
  }
}
.pre-title {
  position: absolute;
  font-size: 18px;
  margin-bottom: 18px;
  top: 140px;
  width: 90%;
  left: 20px;
  color: #6d6e71;
}
@media screen and (max-width: 599px) {
  .pre-title {
    left: 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .pre-title {
    left: 25px;
  }
}
.clean-title h4 {
  position: relative;
  font-weight: 400;
  color: #fad47d;
  font-size: 60px;
}
.clean-title p {
  position: relative;
  font-weight: 700;
  color: #33516f;
  font-size: 80px;
}
@media screen and (max-width: 599px) {
  .clean-title {
    postiion: relative;
    display: inline-block;
    text-align: center;
  }
  .clean-title h4 {
    font-size: 36px;
    position: relative;
    bottom: 0px;
  }
  .clean-title p {
    font-size: 56px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .clean-title h4 {
    font-size: 36px;
    position: relative;
    bottom: 0px;
  }
  .clean-title p {
    font-size: 56px;
  }
}
.clean-subtitle {
  position: relative;
  top: 20px;
  margin-bottom: 40px;
}
.clean-subtitle h4 {
  position: relative;
  color: #fad47d;
  font-size: 34px;
  font-weight: 400;
}
.clean-subtitle p {
  position: relative;
  color: #33516f;
  font-size: 46px;
  font-weight: 700;
}
.box-clean {
  margin-top: 30px;
}
@media screen and (max-width: 599px) {
  .box-clean {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .box-clean {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
.text-clean {
  position: relative;
  width: 60%;
}
.text-clean p {
  font-weight: 400;
  font-size: 16px;
  margin: 15px 10px 10px 0px;
  color: #6d6e71;
}
.text-clean h5 {
  font-weight: 700;
  color: #33516f;
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .text-clean {
    width: 100%;
  }
  .text-clean p {
    font-size: 14px;
    position: relative;
    left: 5%;
    width: 90%;
  }
  .text-clean h5:first-child {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .text-clean {
    width: 100%;
  }
  .text-clean p {
    font-size: 14px;
    position: relative;
    left: 5%;
    width: 90%;
  }
  .text-clean h5:first-child {
    font-size: 16px;
  }
}
.item-clean {
  position: relative;
  text-align: center;
  display: inline-block;
}
.item-clean h5 {
  font-weight: 700;
  color: #33516f;
  font-size: 24px;
  left: 19%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 64%;
  position: relative;
}
.item-clean p {
  font-size: 12px;
  line-height: 15px;
  color: #6d6e71;
}
@media screen and (max-width: 599px) {
  .item-clean p {
    width: 100%;
  }
  .item-clean h5 {
    left: 0%;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .item-clean p {
    width: 100%;
  }
  .item-clean h5 {
    left: 0%;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
}
.item-clean .first-title-clean {
  width: 100%;
  left: 0%;
}
.circle-clean {
  position: relative;
  background: #fef6e5;
  width: 140px;
  height: 140px;
  border-radius: 80px;
  left: 18%;
}
.circle-clean img {
  position: relative;
  height: 120px;
  top: 0px;
}
@media screen and (max-width: 599px) {
  .circle-clean {
    left: 0%;
    display: inline-block;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .circle-clean {
    left: 0%;
    display: inline-block;
    text-align: center;
  }
}
.info-contact p {
  font-size: 20px;
}
.info-contact h5 {
  position: relative;
  color: #33516f;
  font-weight: 700;
  font-size: 36px;
}
.info-contact h5:first-child {
  margin-bottom: 40px;
}
.info-contact a {
  font-size: 24px;
  font-weight: 700;
  color: #33516f;
}
.contact-phone {
  margin-bottom: 40px;
}
.contact-phone p {
  color: #33516f;
  font-size: 28px;
  display: contents;
  position: relative;
}
.contact-phone a {
  position: relative;
  left: 2%;
  top: 0px;
  margin-right: 10px;
}
@media screen and (max-width: 599px) {
  .contact-phone {
    margin-bottom: 30px;
  }
  .contact-phone a {
    position: relative;
    display: grid;
    left: 27%;
    width: 50%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contact-phone {
    margin-bottom: 30px;
  }
  .contact-phone a {
    position: relative;
    display: grid;
    left: 30%;
    width: 50%;
  }
}
.contact-whats p {
  position: relative;
  left: 5%;
  font-size: 18px;
  margin-bottom: 4px;
  top: -42px;
}
.contact-whats a {
  font-size: 18px;
}
@media screen and (max-width: 599px) {
  .contact-whats img {
    top: 45px;
    right: 34%;
  }
  .contact-whats p {
    top: 0px;
    position: relative;
    left: 22%;
    width: 69%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contact-whats p {
    top: 0px;
    position: relative;
    left: 11%;
    top: -21px;
  }
}
.icon-contact {
  position: relative;
  top: 15px;
}
.box-contact {
  position: relative;
  top: 30px;
}
.info-contact {
  width: 50%;
}
.info-contact p {
  font-size: 20px;
}
.info-contact h5 {
  position: relative;
  color: #33516f;
  font-weight: 700;
  font-size: 36px;
}
.info-contact h5:first-child {
  margin-bottom: 40px;
}
.info-contact a {
  font-size: 24px;
  font-weight: 700;
  color: #33516f;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .info-contact img {
    right: 85px;
    top: 25px;
  }
}
.contact-phone p {
  color: #33516f;
  font-size: 28px;
  display: contents;
  position: relative;
}
.contact-phone a {
  position: relative;
  left: 2%;
  top: 0px;
}
.contact-whats p {
  position: relative;
  left: 10%;
  font-size: 18px;
  margin-bottom: 4px;
  top: -31px;
}
.contact-whats a {
  font-size: 18px;
}
.box-contact {
  position: relative;
  top: 30px;
}
.ty-page {
  background: url("../img/background-mobile.png");
  background-repeat: no-repeat;
  height: 640px;
  top: 0px;
  background-position-x: 85%;
}
@media screen and (max-width: 599px) {
  .ty-page {
    top: -120px;
    height: 600px;
    background-position-x: 80%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .ty-page {
    height: 1080px;
  }
}
.title-tks {
  position: relative;
  top: 80px;
  left: 70px;
  width: 490px;
}
@media screen and (max-width: 599px) {
  .title-tks {
    top: 475px;
    display: inline;
    width: 300px;
    left: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .title-tks {
    left: 70px;
    top: 80px;
    width: 325px;
  }
}
.title-tks p:first-child {
  font-size: 80px;
  color: #33516f;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 599px) {
  .title-tks p:first-child {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .title-tks p:first-child {
    font-size: 72px;
  }
}
.title-tks p {
  font-weight: 400;
  font-size: 16px;
  color: #6d6e71;
}
.btn-back {
  margin-top: 50px;
}
.btn-back p {
  color: #6d6e71;
}
.btn-back a {
  color: #fad47d;
}
.page-template .btn-menu {
  display: none;
}
.page-template .menu-left,
.page-template .menu-right {
  display: none;
}
.page-template .call-cta-wrapper {
  display: none;
}
.page-template .logocenter {
  left: 45%;
}
.dibfather,
.mobile-cta-wrapper {
  font-size: 0;
}
.socials {
  font-size: 0;
}
.socials .dib {
  font-size: 18px;
  color: #1d3852;
}
.socials .dib + .dib {
  margin-left: 16px;
}
.mobile-cta-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .mobile-cta-wrapper {
    display: none;
  }
}
.mobile-cta-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(81,146,181,0.4);
  height: 6px;
  top: -6px;
  width: 100%;
  left: 0;
}
.mobile-whatsapp-btn {
  background-color: #48acbc;
  color: #fff;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 17%;
  border: 0;
  line-height: 44px;
}
.mobile-cta-btn {
  background-color: #06839f;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  height: 40px;
  line-height: 44px;
  padding: 0;
  text-align: center;
  border: 0;
}
.mobile-cta-btn.open-modal {
  width: 50.2%;
  position: relative;
}
.mobile-cta-btn.open-modal:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1px;
  width: 1px;
  height: 80%;
  background-color: rgba(255,255,255,0.7);
}
.mobile-cta-btn:not(.open-modal) {
  width: 32.8%;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media (min-width: 320px) {
  .container {
    padding: 0 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row:before,
  .row:after {
    content: "";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
  }
}
.col-sm {
  float: left;
  width: 20%;
  padding: 10px;
}
.col-1 {
  float: left;
  width: 25%;
  padding: 10px;
}
@media (max-width: 600px) {
  .col-1 {
    width: 100%;
  }
  .col-sm {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-2 {
    width: 50%;
  }
}
@media (min-width: 728px) {
  .col-3 {
    width: 33.3333%;
  }
}
.first-bubble {
  position: absolute;
  background: url("../img/bubbles/bubble-top.png");
  background-repeat: no-repeat;
  left: 90%;
  bottom: 0%;
  height: 100%;
  width: 100%;
  z-index: 3;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .first-bubble {
    display: none;
  }
}
.left-bubble {
  position: absolute;
  background: url("../img/bubbles/bubble-left.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 260px;
  bottom: 550px;
  z-index: -1;
  transition: 0.2s ease;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .left-bubble {
    bottom: 180px;
    height: 950px;
    z-index: 0;
  }
}
.left-bubble-min {
  position: absolute;
  background: url("../img/bubbles/bubble-left-mini.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  bottom: 15px;
  left: 40px;
}
.left-bubble-mb {
  display: none;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .left-bubble-mb {
    display: block;
    position: absolute;
    background: url("../img/bubbles/bubble-left-mb.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 160px;
    bottom: 90px;
    left: 0px;
    z-index: -1;
    transition: 0.2s ease;
  }
}
.left-bubble-med {
  position: absolute;
  background: url("../img/bubbles/bubble-left-med.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 150px;
  bottom: 616px;
  left: 220px;
  z-index: -1;
  transition: 0.2s ease;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .left-bubble-med {
    display: none;
  }
}
.bottom-bubble-med {
  position: absolute;
  background: url("../img/bubbles/bubble-bottom-form.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 150px;
  bottom: 210px;
  left: 79%;
  z-index: 3;
  transition: 0.2s ease;
  z-index: -1;
}
.right-bubble {
  position: absolute;
  background: url("../img/bubbles/bubble-right.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 154px;
  left: 92%;
  bottom: 140px;
  transition: 0.2s ease;
}
.bubble-right-work {
  position: absolute;
  background: url("../img/bubbles/bubble-right-work.png");
  background-repeat: no-repeat;
  height: 1100px;
  width: 290px;
  left: 85%;
  bottom: 195px;
  z-index: 2;
  transition: 0.2s ease;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .bubble-right-work {
    z-index: -1;
  }
}
.bubble-contact-left {
  position: absolute;
  background: url("../img/bubbles/bubble-contact-left.png");
  background-repeat: no-repeat;
  height: 1000px;
  width: 300px;
  transition: 0.2s ease;
}
.bubble-contact-right {
  position: absolute;
  background: url("../img/bubbles/bubble-contact-right.png");
  background-repeat: no-repeat;
  height: 320px;
  width: 100%;
  left: 90%;
  top: 800px;
  transition: 0.2s ease;
}
@media screen and (max-width: 599px) {
  .img-aside {
    display: none;
  }
  #services {
    top: 50px;
  }
  #clean-house {
    top: 50px;
  }
  #contact {
    background-position: 0%;
    min-height: 1200px;
  }
  .form-residencial {
    display: none;
  }
  .contact-mobile {
    display: block;
  }
  .contact-mobile input {
    padding: 8px 10px;
  }
  .contact-desk {
    display: none;
  }
  .form-item label {
    float: left;
  }
  .info-contact a {
    font-size: 23px;
  }
  .btn-menu {
    position: relative;
    float: right;
    right: 25px;
    bottom: 130px;
    z-index: 3;
  }
  .bar1,
  .bar2 {
    width: 35px;
    height: 5px;
    background-color: #5192b5;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar3 {
    width: 10px;
    height: 5px;
    background-color: #5192b5;
    margin: 6px 0;
    transition: 0.4;
  }
  .bar3-right {
    position: relative;
    width: 21px;
    height: 5px;
    background-color: #5192b5;
    left: 14px;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background: #fff;
  }
  .change .bar2 {
    -webkit-transform: rotate(43deg);
    transform: rotate(43deg);
    background: #fff;
  }
  .change .bar3 {
    opacity: 0;
  }
  .change .bar3-right {
    opacity: 0;
  }
  .outline-menu {
    display: none;
  }
  .overlay-menu {
    display: block;
    position: absolute;
    height: 1500px;
    width: 100%;
    background: #fad889;
    z-index: 2;
    top: 0px;
    opacity: 0.9;
  }
  .overlay-menu ul {
    position: relative;
    background: #89c6ed;
    width: 63%;
    height: 100%;
    bottom: 10px;
  }
  .overlay-menu li {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #fad47d;
    width: 64%;
    position: relative;
    left: 6%;
    top: 65px;
  }
  .overlay-menu a {
    position: relative;
    bottom: 10px;
  }
  .overlay-menu .close-button p {
    position: relative;
    z-index: 3;
    font-size: 44px;
    color: #fff;
    font-weight: 400;
    float: right;
    bottom: 119px;
    right: 1px;
    width: 116px;
    text-align: center;
  }
  .sub-title h2 {
    font-size: 32px;
    font-weight: 400;
  }
  .sub-title p {
    font-size: 29px;
    font-weight: 700;
  }
  .carousel-info {
    font-weight: 400;
    position: relative;
    display: block;
    margin-bottom: 25px;
    top: 20px;
    font-size: 14px;
  }
  .carousel-info strong {
    font-weight: 700;
    font-size: 16px;
  }
  .first-title-clean {
    left: 0% !important;
  }
  .box-contact {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 0px;
  }
  .icon-contact {
    position: relative;
    top: 45px;
    right: 34%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .img-aside {
    display: none;
  }
  #services {
    top: 50px;
  }
  .form-residencial {
    display: none;
  }
  #clean-house {
    top: 50px;
  }
  #contact {
    background-position: 0%;
    min-height: 1200px;
  }
  .contact-mobile {
    display: block;
  }
  .contact-mobile input {
    padding: 8px 10px;
  }
  .contact-desk {
    display: none;
  }
  .form-item {
    width: 100%;
  }
  .form-item label {
    float: left;
  }
  .info-contact a {
    font-size: 23px;
  }
  .btn-menu {
    position: relative;
    float: right;
    right: 25px;
    bottom: 130px;
    z-index: 3;
  }
  .bar1,
  .bar2 {
    width: 35px;
    height: 5px;
    background-color: #5192b5;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar3 {
    width: 10px;
    height: 5px;
    background-color: #5192b5;
    margin: 6px 0;
    transition: 0.4;
  }
  .bar3-right {
    position: relative;
    width: 21px;
    height: 5px;
    background-color: #5192b5;
    left: 14px;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background: #fff;
  }
  .change .bar2 {
    -webkit-transform: rotate(43deg);
    transform: rotate(43deg);
    background: #fff;
  }
  .change .bar3 {
    opacity: 0;
  }
  .change .bar3-right {
    opacity: 0;
  }
  .outline-menu {
    display: none;
  }
  .overlay-menu {
    display: block;
    position: absolute;
    height: 1500px;
    width: 100%;
    background: #fad889;
    z-index: 2;
    top: 0px;
    opacity: 0.9;
  }
  .overlay-menu ul {
    position: relative;
    background: #89c6ed;
    width: 63%;
    height: 100%;
    bottom: 10px;
  }
  .overlay-menu li {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #fad47d;
    width: 64%;
    position: relative;
    left: 6%;
    top: 65px;
  }
  .overlay-menu a {
    position: relative;
    bottom: 10px;
  }
  .overlay-menu .close-button p {
    position: relative;
    z-index: 3;
    font-size: 44px;
    color: #fff;
    font-weight: 400;
    float: right;
    bottom: 119px;
    right: 1px;
    width: 116px;
    text-align: center;
  }
  .sub-title h2 {
    font-size: 32px;
    font-weight: 400;
  }
  .sub-title p {
    font-size: 29px;
    font-weight: 700;
  }
  .carousel-info {
    font-weight: 400;
    position: relative;
    display: block;
    margin-bottom: 25px;
    top: 20px;
    font-size: 14px;
  }
  .carousel-info strong {
    font-weight: 700;
    font-size: 16px;
  }
  .first-title-clean {
    left: 0% !important;
  }
  .box-contact {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 0px;
  }
  .footer-right {
    left: 35%;
    top: 20px;
    width: 100%;
  }
}
body {
  min-height: 100vh;
}
.cta-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51,81,111,0.96);
  z-index: 10;
}
.bottom-text {
  display: block;
  font-weight: 400;
  color: #6d6e71;
  font-size: 14px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 95%;
}
.bottom-text p {
  display: inline-block;
}
.form-wrapper-all {
  min-height: 460px;
  padding-bottom: 60px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  display: none;
}
@media screen and (max-width: 1024px) {
  .form-wrapper-all {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .form-wrapper-all {
    width: 520px;
  }
}
.form-wrapper-all .instance {
  display: block;
}
.form-wrapper-all .instance:not(.active) {
  display: none;
}
.form-picker {
  position: relative;
  top: 2px;
  left: 2px;
}
.form-picker button:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}
.form-picker button:nth-child(3) {
  border-radius: 0px 5px 0px 0px;
}
.form-picker p {
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-weight: 400;
}
.form-pickers {
  background-color: #33516f;
  color: #fff;
  font-size: 11px;
  height: 47px;
  border: 0;
  display: inline-block;
  vertical-align: top;
  width: 32.666%;
  font-weight: 400;
  transition: all 0.35s ease-in-out;
}
.form-pickers + .form-pickers {
  margin-left: 0.6667%;
}
.form-pickers i {
  color: $yellow;
  font-size: 16px;
  margin-right: 5px;
}
.form-pickers i.alt {
  font-weight: 300;
}
.form-pickers.active,
.form-pickers:hover {
  background-color: #1e364e;
  color: #fff;
}
.form-pickers.active i,
.form-pickers:hover i {
  color: #fad47d;
}
.pop-box .boxes {
  background: #fff;
  padding: 14px;
  border-radius: 20px;
  height: 50px;
  margin-bottom: 10px;
  width: 68%;
  height: 40px;
  border: 3px solid #33516f;
}
.pop-box textarea {
  background: #fff;
  padding: 14px;
  border-radius: 12px;
  width: 68%;
  border: 3px solid #33516f;
  margin-bottom: 10px;
}
.box-date {
  width: 33%;
  display: inline-block;
  border-radius: 20px;
  height: 40px;
  border: 3px solid #33516f;
  position: relative;
  left: 0%;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background: #fff;
}
.btn-msgsub {
  position: relative;
  background: #fad47d;
  text-transform: uppercase;
  border-radius: 12px;
  border: none;
  width: 70%;
  height: 50px;
}
.btn-msgsub p {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
}
.box-message {
  position: relative;
}
.leave-message {
  text-align: center;
}
.leave-message .fields {
  max-width: 345px;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .leave-message .fields .half {
    width: 47.5%;
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  .leave-message .fields .half + .half {
    margin-left: 5%;
  }
}
.leave-message .fields .full {
  clear: both;
}
.leave-message .field-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.leave-message .field-wrapper .icon {
  position: absolute;
  left: 2px;
  height: 36px;
  background-color: #fff;
  top: 1px;
  bottom: 1px;
  width: 36px;
  text-align: center;
}
.leave-message .field-wrapper .icon i {
  color: #7cc623;
  font-size: 16px;
  line-height: 34px;
}
.field-green {
  height: 38px;
  border: 1px solid #7cc623;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
}
.field-green.bigger {
  height: 75px;
}
.field-green.has-icon {
  padding-left: 40px;
}
.leave-title {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 24px;
  padding-top: 40px;
  margin-bottom: 20px;
  max-width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 0;
}
.leave-title .variant {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}
.callers {
  font-size: 14px;
  color: $gray;
  margin-top: 18px;
}
.callers .number {
  padding: 3px 8px;
  border-radius: 50%;
  color: #fff;
  background-color: #f00;
}
.call-me-later {
  width: 300px;
  height: 42px;
  background-color: #7cc623;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.35s ease;
}
.call-me-later:hover {
  color: #7cc623;
  border-color: #7cc623;
  background-color: #fff;
}
.select-day {
  width: 160px;
  border-radius: 20px;
  position: relative;
  right: 2%;
  border: 3px solid #33516f;
  height: 40px;
  background: url("../img/arrow-select.png") 95%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.confirm {
  width: 78px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-color: #fad47d;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: 0.2s ease;
}
.confirm:hover {
  background-color: #fff;
  color: #fad47d;
  border-color: #fad47d;
}
.close-modal {
  top: 0;
  right: 10px;
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 0;
  border: 0;
  font-size: 42px;
}
.call-cta-wrapper {
  position: fixed;
  right: 15px;
  bottom: 85px;
  z-index: 10;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .call-cta-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .call-cta-wrapper {
    right: 15px;
    bottom: 15px;
  }
}
.cta-tooltip {
  width: 130px;
  padding: 0 14px;
  padding-top: 22px;
  padding-bottom: 19px;
  position: relative;
  background-color: #fafafa;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.35s ease-in-out;
}
@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .cta-tooltip {
    width: 130px;
    padding: 10px 14px;
  }
}
.cta-tooltip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255,255,255,0);
  border-top-color: #fafafa;
  border-width: 10px;
  margin-left: -10px;
}
.cta-tooltip.clicked {
  transform: translateY(-20px);
  opacity: 0;
}
.main-txt {
  font-weight: 700;
  font-size: 18px;
  color: #33516f;
  margin-bottom: 20px;
}
.desc {
  margin-bottom: 15px;
  position: relative;
  bottom: 10px;
}
.tooltip-text {
  font-size: 14px;
  color: $gray;
  margin-bottom: 11px;
}
.tooltip-text .variant {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.call-cta {
  margin-top: 30px;
}
@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .call-cta {
    max-width: 50px;
    margin-top: 15px;
  }
}
.whats-icon {
  background-color: #01c854;
  -webkit-box-shadow: 0 0 0 7px rgba(199,239,215,0.4);
  box-shadow: 0 0 0 7px rgba(199,239,215,0.4);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 0;
}
@media screen and (min-width: 1024px) {
  .whats-icon {
    position: absolute;
    bottom: 400px;
    left: 45px;
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .phone-icon {
    position: relative;
    height: 45px;
    width: 45px;
    background-color: #33516f;
    box-shadow: 0 0 0 7px rgba(51,81,111,0.4);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0;
  }
}
.phone-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
.phone-icon:after {
  content: '1';
  padding: 3px 6px;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  background-color: #f00;
  position: absolute;
  top: -6px;
  right: -6px;
}
.close-cta {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1.5px solid rgba(0,0,0,0.2);
  padding: 0;
  text-align: center;
  background-color: #f3f3f3;
  top: -12.5px;
  right: -12.5px;
  font-size: 20px;
}
.dibfather,
.mobile-cta-wrapper {
  font-size: 0;
}
.socials {
  font-size: 0;
}
.socials .dib {
  font-size: 18px;
  color: #1d3852;
}
.socials .dib + .dib {
  margin-left: 16px;
}
.mobile-cta-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .mobile-cta-wrapper {
    display: none;
  }
}
.mobile-cta-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(81,146,181,0.4);
  height: 6px;
  top: -6px;
  width: 100%;
  left: 0;
}
.mobile-whatsapp-btn {
  background-color: #48acbc;
  color: #fff;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 17%;
  border: 0;
  line-height: 44px;
}
.mobile-cta-btn {
  background-color: #06839f;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  height: 40px;
  line-height: 44px;
  padding: 0;
  text-align: center;
  border: 0;
}
.mobile-cta-btn.open-modal {
  width: 50.2%;
  position: relative;
}
.mobile-cta-btn.open-modal:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1px;
  width: 1px;
  height: 80%;
  background-color: rgba(255,255,255,0.7);
}
.mobile-cta-btn:not(.open-modal) {
  width: 32.8%;
}
